<%= form_with url: '/tours', method: :post, local: true do |form| %>
    <p><%= form.label :name %>
    <%= form.text_field :name %></p>
    <%= form.label :merch_on_hand %>
    <%= form.text_field :merch_on_hand %>

    <%= form.submit "Create Tour" %>
<% end %>

 