<a href="/tours">Tour Index</a>

<h1><%= @tour.name %></h1>

<p><a href="/tours/<%= @tour.id %>/venues" >Venues: </a><%= @venues.count %></p>
<p>Sold Out: <%= @tour.sold_out %></p>
<p>Merch Items: <%= @tour.merch_on_hand %></p>
<%= button_to "Update Tour", "/tours/#{@tour.id}/edit", method: :get %>
<%= button_to "Delete", "/tours/#{@tour.id}", method: :delete %>