<a href="/venues">Venue Index</a>

<h1><%= @venue.name %></h1>
<p>All Ages: <%= @venue.all_ages %></p>
<p>City: <%= @venue.city %></p>
<p>Capcity: <%= @venue.capacity %></p>

<p><%= link_to 'Update Venue', "/venues/#{@venue.id}/edit" %></p>
<%= button_to "Delete", "/venues/#{@venue.id}", method: :delete %>